<div class="col-11 col-lg-7">
    <form class="form w-100" method="post" action="" enctype="multipart/form-data">
                
        <div class="mb-3">
            <input type="text" class="form-control" name="title" value="" placeholder="Title" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="url" value="" placeholder="URL" />
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="icon" value="" placeholder="Icon" />
        </div>
        
        <div class="row g-0 mt-5">

            <div class="mb-3 col-6">
                <input type="submit" value="Add" name="add-feature" class="form-control">
            </div>

            <div class="mb-3 col-6">
                <a href="<?=$page ?>" class="form-control text-center">Cancel</a>
            </div>
                
        </div>
    </form>
</div>